

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #333333;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    align-items: center;
}

.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.silver {
    text-decoration: none;
    color: #999999;
    border: 2px solid transparent;
    padding: 5px;
}

.silver:hover {
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 5px;
}

.green {
    text-decoration: none;
    color: #33cc99;
    border: 2px solid #33cc99;
    border-radius: 5px;
    padding: 5px;
}

.bordersearch {
    display: flex;
    height: 30px;
    background-image: url(images/glass.png) ;
    background-repeat: no-repeat;
    background-position: 123px -11px;
    border: 2px solid  #9999996e;  
    border-radius: 5px;
}

.bordersearch > input {
    background-color: transparent;
    width: 20pxs;
    border: none;
    padding-left: 10px;
}

.bordersearch > input::placeholder {
    color: #999999;
}


/* N2 MAIN */

/* Slaider */

.slaider {
    height: 660px;
    background-image: url(images/tree.png);
    background-repeat: no-repeat;
    background-size: 100% 660px;
}
.market {
    height: 100%;
    display: flex;
    align-items: center;
}
.marketinfo {
    display: flex;
    flex-direction: column;
}

.marketinfo div {
    padding-top: 40px;
}

.general {
    font-size: 26px;
    color: white;
}

.ngl {
    color: #999999;
}

.marketbut button {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.marketbut button a {
    color: white;
}

.marketbut button:hover {
    background-color: #33cc99;
    border: 2px solid #33cc99;
    border-radius: 5px;
}

/* Modest */

.modest {
    height: 610px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 660px;
    border-bottom: 1px solid silver;
}

.modestinfo {
    display: flex;
    flex-direction: column;
}

.modestinfo div {
    padding-top: 30px;
}

.modestinfo div:first-child {
    padding-bottom: 70px;
}

.genmodestinfo a {
    font-size: 40px;
    padding-left: 10px;
    border-left: 10px solid silver;
}

.textmodestinfo {
    color: #999999;
}

.butmenu {
    display: flex;
    flex-direction: row;
}

.butmenu div {
    padding-right: 2px;
}
.butmenu div button {
    width: 60px;
    height: 60px;
}

.facebook {
    background-image: url(images/facebook.png);
    background-color: #999999be;
    background-position: 6px 6px;
    border: none;
}
.twiter {
    background-image: url(images/twiter.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.google {
    background-image: url(images/google.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.basket {
    background-image: url(images/basket.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.be {
    background-image: url(images/Be.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.hov:hover {
    background-color: #9999998a;
}

.line {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.line:first-child {
    padding-top: 100px;
}

.number {
    width: 50px;
    height: 50px;
    background-color: #33cc99;
    margin-right: 10px;
    padding-left: 26px;
}

.number  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

.linetext div:last-child {
    padding-top: 5px;
}

.linetext div > h3 {
    font-size: 15px;
    font-weight: bold;
}

.linetext div > a {
    color: #999999;
}


/* team */

.team {
    height: 650px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 650px;
    border-bottom: 1px solid silver;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.meet {
    font-size: 40px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.meet a {
    border-left: 10px solid #999999;
    padding-left: 10px;
    margin-left: 15px;
}

.photoplace {
    display: flex;
    flex-direction: row;
}

.col-md-3 img {
    border: none;
    width: 248px;
}

.infophoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 203;
    height: 70px;
    background-color: rgba(192, 192, 192, 0.671);
    border: none;
}

.infophoto a:last-child {
    padding-top: 5px;
    color: #999999;
}


/* Section work */

.work {
    height: 900px;
    background-color: #333333;
}

.tittle {
    display: flex;
    align-self:  flex-start;
    font-size: 40px;
    padding-left: 15px;
    border-left: 10px solid #666666;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.tittle a {
    color: white;
}

.linework {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxwork img {
    width: 340px;
    height: 265px;
}

.pad {
    padding-top: 28px;
}

.but {
    padding-top: 60px;
}

.but button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.but button:hover {
    background-color: #33cc99;
    border: 2px solid #33cc99;
    border-radius: 5px;
}

.but  button a {
    color: white;
}

@media(max-width: 426px) {
    .container {
        height: 100%;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .submenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .submenu li {
        padding-top: 3px;
    }
    main .modest .column {
        padding-top: 394px;
    }
    .meet {
       padding-top: 675px;
    }
    .submenu li a {
       font-size: 10px;
    }
    .submenu {
       display: flex;
       justify-content: space-between;
    }
    .submenu li a:last-child {
       padding-top: 5px;   
    }
    .header {
       height: 200px;
    }
    .menu {
       display: flex;
       flex-direction: column;
    }
    .butmenu div button {
        width: 50px;
        height: 50px;
    }
    .facebook {
        background-position: 0 0;
    }
    .twiter {
        background-position: 0 0;
    }
    
    .google {
        background-position: 0 0;
    }
    
    .basket {
        background-position: 0 0;
    }
    
    .be {
        background-position: 0 0;
    }
}


/* Добавить педдинг в каждый селектион  */