
* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-12 {
    width: 100%;
}

header {
    display: flex;
    padding: 25px;
    justify-content:space-between ;
    height: 80px;
    background-color: #333333;
}


/* LOGOPLACE */

.logoplace {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* MENUPLACE */

.menuplace {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.menuplace div a  {
    text-decoration: none;
    color: #999999;
}

.menuplace div:first-child {
    padding: 10px;
    border: 2px solid #33cc99;
    border-radius: 5px;
}

.menuplace div:first-child > a {
    color: #33cc99;
}

.menuplace div:hover {
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 10px;
}

.menuplace div:first-child:hover {
    border: 2px solid #33cc99;
    border-radius: 5px;
    padding: 10px;
}

/* SEARCHPLACE */
.searchplace {
    display: flex;
    justify-content: flex-end;
}
.search {
    display: flex;
    border: 2px solid #999999;
    border-radius: 5px;
    width: 195px;
    height: 30px;
    background-image:url(images/glass.png);
    background-repeat: no-repeat;
    background-position: 150px -10px;
}

.search input {
    background-color: transparent;
    border: none;
    height: 30px;
}

.search ::placeholder {
    color: #999999;
    padding-left: 3px;
    font-weight: bold;
}


/* MAIN */

.main{
    display: flex;
    flex-direction: column;
}

/* N1 */

.marketplace {
    display: flex;
    width: auto;
    height: 650px;
    background-image: url(images/tree.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boxcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.general {
    font-size: 32px;
    color: white;
    padding-bottom: 35px;
}

.ngl {
    color: #9999cc;
    padding-bottom: 40px;
}

.marketbut button {
    width: 122px;
    height: 42px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}



.marketbut button > a {
    color: white;
}

.marketbut button:hover {
    width: 122px;
    height: 42px;
    background-color: #33cc99;
    border: 2px solid #33cc99;
    border-radius: 5px;
}

/* N2 */

.modest {
    background-color: white;
    display: flex;
    width: auto;
    height: 610px;
    border-bottom: 1px solid silver;
}

.firstbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: -20px;
    flex-wrap: wrap;
}

.text {

}

.textmodest {
    font-size: 45px;
}

.textmodest > a {
    border-left: 10px solid #cccccc;
    padding-left: 5px;
}

.textinfo {
    font-size: 20px;
    color: #999999;
    padding-top: 40px;
}

.butmenu {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.butmenu div {
    padding-left: 1px;
}

.butmenu div button {
    width: 60px;
    height: 60px;
}

.facebook {
    background-image: url(images/facebook.png);
    background-color: #999999be;
    background-position: 6px 6px;
    border: none;
}
.twiter {
    background-image: url(images/twiter.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.google {
    background-image: url(images/google.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.basket {
    background-image: url(images/basket.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.be {
    background-image: url(images/Be.png);
    background-color:  #999999be;
    background-position: 6px 6px;
    border: none;
}

.hov:hover {
    background-color: #9999998a;
}

.secondbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
}

.line {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.line:first-child {
    padding-top: 86px;
}

.number {
    width: 50px;
    height: 50px;
    background-color: #33cc99;
    margin-right: 10px;
    padding-left: 26px;
}

.number  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

.linetext div {
    padding-top: 10px;
}

.linetext div > h3 {
    font-size: 20px;
}

.linetext div > a {
    font-size: 20px;
    color: #999999;
}


/* ADAPTATION */

@media(max-width:320px) {
    .container {
        width: auto;
        height: auto;
        display: flex;
        margin: 0 ;
    }

    .kon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    header {
        display: flex;
        justify-content:center ;
        height: auto;
        padding: 5px;
        width: auto;
        background-color: #333333;
        flex-direction: column;
    }

    /* LOGOPLACE */

    .logoplace {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
    }

    /* MENUPLACE */

    .menuplace {
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
        flex-direction: column;
    }

    /* SEARCHPLACE */
    .searchplace {
        display: flex;
        align-items: flex-start;
        padding-top: 10px;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
    }
    
}
